td {
  height: 150px;
  width: 150px;
  border: 2px solid #333;
  text-align: center;
  /* vertical-align: middle; */
  font-size: 70px;
  font-family: "Comic Sans MS", cursive;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}

table tr:first-child td {
  border-top: none;
}

table tr:last-child td {
  border-bottom: none;
}

table td:first-child {
  border-left: none;
}

table td:last-child {
  border-right: none;
}

.endgame {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  color: white;
  padding: 60px 30px;
  font-size: 2rem;
  box-shadow: 0 1px 10px lightgrey;
  background-color: lightsalmon;
  font-family: monospace;
}

.text {
  text-align: center;
}
